{% extends "network/layout.html" %}

{% block body %}

{% block bodyy %}
{% endblock %}

{% if pagination.num_pages != 0 %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>

        {% if pagination.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ pagination.previous_page_number }}">{{pagination.previous_page_number}}</a>
        </li>
        {% endif %}

        <li class="page-item"><a class="page-link" href="#">Page {{ pagination.p_no }} of {{ pagination.num_pages }}</a></li>
        
        {% if pagination.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ pagination.next_page_number }}">{{pagination.next_page_number}}</a>
        </li>
        {% endif %}

        <li class="page-item"><a class="page-link" href="?page={{ pagination.num_pages }}">Last &raquo;</a></li>
    </ul>
</nav>
{% else %}
<h1 class="top-class">No posts from people you are following</h1>
{% endif %}
{% endblock %}